[github]
  user = mrmicahcooper
[user]
  email = micah+github@mrmicahcooper.com
  name = "Micah Cooper"
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICasXnWXXFQNEopg+qN591ZFGny21q1QY+jmxDp801IB

[alias]
  aliases=!git config -l | grep '^alias' | cut -c 7- | sort
  br = branch
  co = checkout
  fixup = commit --fixup
  doff = reset HEAD^
	mush = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
[branch]
  autosetuprebase = always
[color]
  ui = auto
[core]
  editor = nvim
  whitespace = warn
[help]
  autocorrect = 10
[interactive]
  singlekey = true
[merge]
  summary = true
[push]
  default = tracking
[rebase]
  autosquash = true
[diff]
  algorithm = patience
[fetch]
  prune = true
[init]
	defaultBranch = main
[hub]
	protocol = https
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[commit]
	gpgsign = true
[advice]
	statushints = false
